.Search {
  position: fixed;
  top: 90vh;
  height: 10vh;
  left: 0vw;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  opacity: 1;
  box-shadow: 0px 0px 64px 60px rgba(255, 255, 255, 1);
}

.Search__container img {
  padding: 10px;
  height: 2em;
  background-color: red;
  border-radius: 50%;
}

.Search input {
  padding: 5px 5px 5px 20px;
  width: 60vw;
  height: 2em;
  border-radius: 2em;
  outline: none;
  border: solid 1px red;
}

.Search__container__clear {
  position: absolute;
  left: 65vw;
}
